body {
  background-color: #f1f3f6;
  font-family: "Roboto", sans-serif;
}

.navbar-dark {
  background-color: #2874f0; }

 
.navbar-brand {
  padding-left: 30px;
}

.search_form {
  width: 330px;
}
.search_form .fa-search {
  color: #2874f0;
  font-size: 1.2em;
  margin-left: -50px;
}
.top_nav .login_btn {
  background-color: #fff;
  color: #2874f0;
  padding: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
}
.top_nav a {
  color: #fff;
  font-size: 0.9em;
}
.top_nav .fa-sort-down {
  font-size: 0.9em;
  position: relative;
  top: -3px;
}
.top_nav .fa-shopping-cart {
  font-size: 1.2em;
}


.row{
  width: auto;
  margin: 80px;
}


.container {
 display: flex;
}

/*category section*/

.category {
  padding: 10px;
  border-bottom: 1px solid #caccce;
}

.header {
  padding: 1rem;
  background-color: var(--font-color);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

/*carousel Section*/

.mycarousel {
  background: floralwhite; }
  .mycarousel .carousel-item {
    height: 300px;
     }
    .mycarousel .carousel-item img {
      position:absolute;
      top: 0;
      left: 0;
    margin-left: auto;}

.bg_white {
  background-color: #fff;
}
.main_c10_top {
  height: 62px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 15px;
}

/* Mobiles and Accesories*/

div.main1 {
  height: 352px;
  margin-top: 11px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ebebeb;
}
.main1 .row {
  margin: 0px;
}
.left {
  display: block;
  overflow: hidden;
  height: 100%;
  padding: 35px 10px;
  font-size: 0.8em;
}
.left > div {
  margin: 5px 0px;
}
.left:hover {
  text-decoration: none;
}
.left:hover img {
  transform: scale(1.05, 1.05);
}

/* deals of the day*/

.deal {
  margin-top: 11px;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.main_heading {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 15px;
}
